<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../views/partials/_header %>
  </head>

  <body>
    <h1>AWESOME URL Shortner</h1>
    <p>Here's your shortened website! Enjoy :)</p>
    <% for(url of urls) { %>
      <a href="/urls/<%= url.shortURL %>">
        <%= url.shortURL %>
      </a>
      -->
      <a href="<%= url.longURL %>">
        <%= url.longURL %>
      </a>
      <form method="POST" action="/urls/<%=url.shortURL%>?_method=DELETE">
        <button type="submit">Delete resource</button>
      </form>
      <form method="GET" action="/urls/<%=url.shortURL%>/edit">
        <button type="submit">Edit</button>
      </form>
      </br></br>
    <% } %>
    <form method="GET" action="/urls/new">
      <button type="submit">Return to URL Shortener</button>
    </form>
  </body>

</html>