<!DOCTYPE html>
<html lang="en">
<header>
  <% include ../views/partials/_header %>
</header>
<body>
<h1> URL Shortner </h1>

<p> Here's your shortened website! </p>


<% for(eachURL of urls) { %>

<a href="/urls/<%= eachURL.shortURL %>" >
    <%= eachURL.shortURL %>
  </a> -->  <a href=" <%= eachURL.longURL %>" >
  <%= eachURL.longURL %>
  </a>


<form method="POST" action="/urls/<%=eachURL.shortURL%>?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>


<form method="GET" action="/urls/<%=eachURL.shortURL%>/edit">
  <button type="submit">Edit</button>
</form>

</br></br>


<% } %>


</body>
</html>


